body{
   
        margin: 0;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
          'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
          sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(
        to left, rgb(229, 3, 127) 0%, 
        rgb(53, 6, 242) 100%
    );  
    text-align: center;
    }
.home-title{
    margin-top: 75px;
    margin-bottom: 50px;
    font-size: 76px;
    font-family: 'Courier New', Courier, monospace;

}

.home{
  display: flex;
  flex-direction: column;
  align-items: center;  
}
      

